h1{
    font-size: 50px;
}

.font{
    font-family: 'Poppins', sans-serif;
    
}



.namecolor2{
    color:darkorange;
}
.half-width{
    width: 40%;
    float: left;
    margin:5%;
}
.half-width img{
    width:70%;
}
.test{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 2px 5px;
    border-radius: 5px;
    color:white;
}


