h1{
    font-size: 50px;
}

.font{
    font-family: 'Poppins', sans-serif;
    
}
.first-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}



.namecolor2{
    color:darkorange;
}
.half-width{
    width: 40%;
    float: left;
    margin:5%;
}
.half-width img{
    width:70%;
}
.test{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 2px 5px;
    border-radius: 5px;
    color:white;
}

.next-half img{
    width:70%;
}
.next-half{
    width:40%;
    float:left;
    margin: 5%;
}
.me{
    text-decoration: none;
    background-image:linear-gradient(45deg, lightsalmon,tomato );
    border-radius: 5px;
    color:white;
    padding:2px 5px;
}
section{
    height:400px;
    padding-bottom: 100px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.last-cls{
    width:40%;
    float:left;
    margin:3%;
    padding:1%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:50%;
}
.experience-area{
    background-image:url("images/exp-bg.png") ;
    background-repeat: no-repeat;
    background-position: left;
    
}
#professional{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

